body{
    background-color: #dbf6e9;
  }
  hr
  {
    
    border-style:dotted none none;
    border-width: 10px;
    border-color: black;
    height: 8px;
    width: 10%;
  }
  h1{
      color: #be0000;
  }
  h3{
    color: #be0000;
}